<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Temp Sign Up Form</h1>
    <form action="../controllers/auth_user.php" method="post">
        <input type="email" name="email" placeholder="Enter valid email address" required>
        <br><br>
        <input type="text" name="usr" placeholder="Enter a username" required>
        <br><br>
        <input type="password" name="pswd" id="" placeholder="Enter a password" required>
        <br><br>
        <input type="text" placeholder="Search team" name="team" required>
        <br><br>
        <input type="submit" value="Sign Up" name="add_user">        
    </form>
</body>
</html>